/* Contenedor Principal */
#chat-container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-light);
    overflow: hidden;
    position: relative;
    border-radius: var(--border-radius); /* Uso de variable global */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar */
    transition: box-shadow var(--transition-speed);
}

/* Encabezado */
#chat-header {
    padding: 20px 20px;
    background-color: var(--gray-light);
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: none;
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
}

/* Botón para abrir/cerrar el menú lateral */
#menu-button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform var(--transition-speed);
    z-index: 1101;
}

#menu-button .line {
    width: 20px;
    height: 2px;
    background-color: var(--text-dark);
    border-radius: 5px;
    position: absolute;
    transition: transform var(--transition-speed), opacity var(--transition-speed);
}

#menu-button .line-1 {
    top: 6px;
}

#menu-button .line-2 {
    bottom: 6px;
}

#menu-button.open .line-1 {
    transform: rotate(45deg);
    top: 50%;
    transform-origin: center;
}

#menu-button.open .line-2 {
    transform: rotate(-45deg);
    top: 50%;
    transform-origin: center;
}

/* Efecto de hover para mayor interacción */
#menu-button:hover .line {
    background-color: var(--blue-cobalt); /* Color de hover */
}
